%% == Dependencies ==
{deps, [
  {jsx,    ".*", {git, "https://github.com/talentdeficit/jsx.git",    {tag, "v2.11.0"}}},
  {kvc,    ".*", {git, "https://github.com/etrepum/kvc.git",    {tag, "v1.7.0"}}},
  {getopt, ".*", {git, "https://github.com/jcomellas/getopt.git", {tag, "v1.0.3"}}}
]}.

%% == escriptize ==
{escript_incl_apps, [jsx, kvc, getopt]}.
{escript_comment, "%% jerg - JSON Schema to Erlang Records Generator\n"}.
